<div class="row">
  <div class="col-6">
    <a href="http://telecharge.biz" class="w3-bar-item w3-button logo-position"><img src="assets/logo/Logo.png"
        class="logo" style="width: 160px;height: 90px;" alt="Avatar"></a>
  </div>
  <div class="col-6">
    <div class="address float-right">
      <table>
        <tr>
          <td>Customer Support :</td>
          <td>+91-8100101025(10am to 7pm)</td>
        </tr>
        <tr>
          <td>Support E-mail :</td>
          <td>support@telecharge.biz(24x7)</td>
        </tr>
      </table>
    </div>
  </div>
</div>