.no-border{
    border: 0;
    box-shadow: none;
    border-left:0 solid transparent;
    background: transparent;
    padding-left: -11px;
}
.font-red{
    color:red;
    font-weight: bold;
}

ul .active {
    border-bottom: 2px solid #28a745;
}

.btn {
    color: white;
    background-color: #28a745;
  }

  
  .logo-position{
    position: relative;
    top: -30px;
    left: -12px;
}
.address{
    position: relative;
    top: 20px;
    right: -81px;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}
.api-balance-position{
    position: relative;
    top: -23px;
}
.font-size-20{
        font-size: 20px;
}
.mobileshow { 
display:none; 
}
@media screen and (max-width: 500px) {
.mobileshow { 
display:block; }
}

a, label {
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700; 
  }

  p {
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidenav {
    height: 100%;
    /* width: 250px; */
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
  }
  /* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
  }

  
  .image-style {
      max-width: 100%;
      max-height: 100%  
    }

    .header {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold; 
    }
    .success-text {
        color: green;
        margin-left: 5px;
    }

    
  
    