<div class="w3-row marque-position">
    <app-header-control></app-header-control>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-link nav-link pointer" [ngClass]="{'nav-item active': kycMode}"><a (click)='changeView("KYC")'>KYC information</a>
        </li>
        <li class="nav-link nav-link pointer" [ngClass]="{'nav-item active': infoMode}"><a (click)='changeView("Basic Info")'>Personal
            Details</a></li>
        <li *ngIf="isSuperAdmin || isAdmin" class="nav-link nav-link pointer" [ngClass]="{'nav-item active': adminMode}"><a
            (click)='changeView("Admin View")'>Admin View</a></li>
        <!-- <li class="nav-link" [ngClass]="{'nav-item active': bankMode}"><a (click)='changeView("Bank Account")'>Bank Account</a></li> -->
        <!-- <li><a href="#">Link</a></li> -->
      </ul>
    </div>
  </nav>
  <!-- Section kyc Mode-->
  <div class="container-fluid" *ngIf='kycMode' style="margin-top: 10px;">
    <div class="row w3-card w3-round w3-white animated flipInX pt-6">
      <div class="col-md-3">
          <div>
              <p>
                  <img [src]="photo" style="height:230px; width: 250px;" alt="Avatar" class="image-style">
              </p>
              <input #fileImage type="file" (change)="reUploadPhoto(fileImage.files)"
              class="form-control no-border img-circle" />
          </div>
      </div>
      <div class="col-md-3">
            <div>
              <p class="header">Personal Information</p> 
            </div>
            <div style="margin-top: 15px">
                <p><strong>Name :</strong> {{full_name}}</p>
                <p><strong>Role :</strong> {{role | titlecase}}</p>
                <p><strong>City :</strong> {{city}}</p>
                <p><strong>DOB :</strong> {{dob}}</p>
                <p class="pl-40"><strong>Account Balance: </strong>
                  <span>
                    <span>&#8377;</span>
                    <strong>{{balance}}</strong>
                  </span>
                </p>
            </div>
            
      </div>
      <div class="col-md-6">
          <p class="header" style="margin-left: 5px;">Banking Info</p>
          <form [formGroup]="userBankInformationForm">
              <div class="row">
                  <div class="col-md-4"><label>Bank Name :</label></div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" formControlName='bankName'/>
                    <small>Bank Name</small>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4"><label>Branch Name :</label></div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" formControlName='branchName'/>
                    <small>Branch Name</small>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4"><label>Account Number :</label></div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" formControlName='accountNumber'/>
                    <small>16 digit account number</small>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4"><label>IFSC Code :</label></div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" formControlName='ifscNumber'/>
                      <small>IFSC code</small>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary" 
                      [disabled]='userBankInformationForm.invalid' (click)='updateUserBankInfo()'>Update</button>
                    </div>
                </div>
                <div class="row" *ngIf='bankDetailsUpdated'>
                  <label
                   class="success-text"><strong>Success!</strong> Bank details updated successfully.</label>
                </div>
          </form>
      </div>
    </div>
    <br/>
    <div class="row w3-card w3-round w3-white animated flipInX pt-6">
      <div class="container-fluid">
        <div class="card-header">
          <label>KYC Information</label>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style='margin-top:10px;'>
          <div class="row">
            <div class="col-md-3 float-right"><label>ID Proof : </label></div>
            <div class="col-md-3 float-left">
              <div class="form-group">
                <select class="form-control" id="id-proof" formControlName="idproof"
                  (change)="onIdProofChanged($event)">
                  <option [value]="0">Select</option>
                  <option *ngFor="let idProof of idProofs" [value]="idProof.id_proof_id">{{idProof.id_proof_type}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3 float-right"><label>Upload document</label></div>
            <div class="col-md-3 float-left">
              <div class="form-group">
                <input #fileId type="file" accept=".pdf" (change)="uploadIdProof(fileId.files)"
                  formControlName="uploaddocumentid" class="form-control no-border"
                  [ngClass]="{ 'is-invalid': submitted && f.uploaddocumentid.errors }" />
                <span style="font-weight:bold;color:green;" *ngIf="messageIdProof">
                  {{messageIdProof}}
                </span>
                <div *ngIf="submitted && f.uploaddocumentid.errors" class="invalid-feedback">
                  <div *ngIf="f.uploaddocumentid.errors.required">ID Proof is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 float-right"><label>Address Proof : </label></div>
            <div class="col-md-3 float-left">
              <div class="form-group">
                <select class="form-control" id="address-proof" formControlName="addressproof"
                  (change)="onAddressProofChanged($event)">
                  <option [value]="0" selected>Select</option>
                  <option *ngFor="let addressProof of addressProofs" [value]="addressProof.address_proof_id">
                    {{addressProof.address_proof_type}}</option>
                </select>
                <!-- <div *ngIf="f.addressproof.errors.required">Address Proof is required</div> -->
              </div>
            </div>
            <div class="col-md-3 float-right"><label>Upload document</label></div>
            <div class="col-md-3 float-left">
              <div class="form-group">
                <input #fileAddress type="file" accept=".pdf" (change)="uploadAddressProof(fileAddress.files)"
                  formControlName="uploaddocumentaddress" class="form-control no-border"
                  [ngClass]="{ 'is-invalid': submitted && f.uploaddocumentaddress.errors }" />
                <span style="font-weight:bold;color:green;" *ngIf="messageAddressProof">
                  {{messageAddressProof}}
                </span>

                <div *ngIf="submitted && f.uploaddocumentaddress.errors" class="invalid-feedback">
                  <div *ngIf="f.uploaddocumentaddress.errors.required">Address Proof is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-3 float-right"><label>Bank Account Number :</label></div>
            <div class="col-md-3 float-left">
              <div class="form-group">
                <input type="text" formControlName="bankdetails" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.bankdetails.errors }" />
                <div *ngIf="submitted && f.bankdetails.errors" class="invalid-feedback">
                  <div *ngIf="f.bankdetails.errors.required">Bank Details is required</div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row" *ngIf='kycSubmitted'>
              <div class="col-md-6 float-left" style="margin-bottom: 30px;">
                  <div class="form-group float-left">
                    <button class="btn btn-primary">Submit</button>
                    <p class="success-text">KYC details already submitted.</p>
                  </div>
              </div>
              
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Section End info Mode-->
  <!-- Section admin Mode-->
  <div *ngIf='adminMode' style="margin-top: 10px;">
    <app-all-profile></app-all-profile>
  </div>
  <!-- Section End admin Mode-->
  <!-- Edit Profile -->
  <div style="margin-top: 10px;"  *ngIf='infoMode'>
      <app-edit-profile [user]='userDetails' (userEdited)='handleEditUserOutput($event)'>
        </app-edit-profile>
  </div>
  
  <!-- End Edit Profile -->
</div>